@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #f79784;
    --secondary: #75a9d6;
    --light-blue: #E6F2FC;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #e0e8f0;
    --dark: #343a40;
    --black: #000;
    --gainsboro: #dcdcdc;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family: 'Roboto Mono', monospace;
    --second-font: 'Inconsolata', monospace;
    --third-font: 'Raleway', sans-serif;
    --shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

input[type="checkbox"] {
    display: none;
}

header .containers {
    padding: 2em 2em 0em;
    background-color: var(--blue);
    width: 100%;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--shadow);
    z-index: 99;
    transform: translateY(calc(-100% - 10px));
    transition: transform 0.5s ease;
}

.header.bg-reveal::before {
    transform: translateY(0);
}

nav {
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    height: 100%;
    margin-left: 0;
    overflow: hidden;
    width: 300px;
    background-color: var(--white);
    transition: 0.5s ease;
    color: black;
    z-index: 1;
}

.containers #show-burger:checked~nav {
    left: 0;
}

nav .profile-side img {
    width: 15%;
    border-radius: 50%;
}

nav .profile-side {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--blue);
    padding: 1.5em 1.5em;
}

nav .profile-side h2 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.2rem;
}

nav .profile-side a {
    text-decoration: none;
}

.socials {
    margin-top: 2em;
}

.social-icon-s {
    display: none;
}

.socials .head {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socials a {
    text-decoration: none;
}

.socials a i {
    font-size: 1.5rem;
    color: var(--gray);
}

nav ul {
    position: relative;
    margin-top: 1em;
}

nav ul h4 {
    color: var(--gray);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.socials h4 {
    color: var(--gray);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 1.5em;
}

nav .sep h4 {
    color: var(--gray);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 3em 1.5em 0;
}

nav ul li {
    font-size: 1.5rem;
    display: block;
    font-weight: bold;
    transition: 0.3s;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: var(--gray);
    line-height: 3.5;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-size: 1.1rem;
}

nav ul li a.actived::after {
    content: '\f060';
    position: absolute;
    right: 0;
}

.hide i,
.hide-2 i {
    color: var(--white);
    font-size: 1.5rem;
}

.hide{
    display: none;
}

.hide-2{
    display: flex;
}

.unshow {
    display: flex;
}

.unshow i {
    color: var(--white);
}

nav .closebtn {
    position: absolute;
    top: 3%;
    bottom: 0;
    right: 7%;
    font-size: 1rem;
    color: var(--white);
}

.bars {
    display: flex;
    justify-content: space-between;
}

.info {
    text-align: center;
    margin: 2em 0 0em;
    padding: 0 0 1em;
}

.info h2 {
    color: var(--white);
    text-transform: uppercase;
}

.info i {
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%;
    padding: 0.5em;
    margin: 1em 0 0;
}

.social-icon {
    margin: 1.5em 0 0;
}

.social-icon button i {
    border: none;
    color: var(--black);
}

.social-icon button {
    background-color: var(--white);
    border: none;
    padding: 0.5em 1em;
    border-radius: 25px;
    color: var(--black);
}

.head-icon {
    margin-top: 2em;
}

.head-icons {
    display: none;
}

.head-icon a i {
    border: none;
    font-size: 1.5rem;
}

/* hero section */
.banner {
    background-color: var(--light-blue);
    padding: 2em 0 2em;
    text-align: center;
}

.banner-img {
    display: none;
}

.banner .heading {
    padding: 0em 0 1em;
}

.banner .heading img {
    width: 20%;
    border-radius: 50%;
}

.banner .heading h1 {
    font-family: sans-serif;
    color: var(--black);
    text-transform: uppercase;
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 1.5rem;
}

.banner .heading h5 {
    font-family: sans-serif;
    color: var(--black);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
}

/* about section */
.about{
    background-color: var(--white);
    padding: 2em 0 10em;
}

.about .heading h1{
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 1em;
}

.about p{
    font-size: 1.2rem;
    font-family: sans-serif;
}

/* conference section */
.conference {
    padding: 1.5em 0 0;
}

.text h1 {
    color: var(--gray);
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: bold;
}

.text {
    margin-bottom: 2em;
}

.engagements h2 {
    font-family: sans-serif;
    font-weight: bold;
    padding: 1em 0 0.1em;
}

.engagements img {
    overflow: hidden;
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
}

.engagements .media small {
    color: var(--gray);
    font-weight: 500;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 0 0 0.8em;
}

.engagements p {
    font-size: 1.3rem;
    font-family: sans-serif;
}

/* footer section */
.footer {
    background-color: var(--light);
    padding: 4em 0;
    text-align: center;
    margin: 0 auto;
}

.footer .texts h2 {
    font-size: 1.1rem;
    color: var(--gray);
    font-family: sans-serif;
}

.footer .texts a {
    color: var(--gray);
    font-family: sans-serif;
    text-transform: capitalize;
}

@media only screen and (min-width:1200px) {
    .profile h6 {
        inline-size: 80%;
    }

    .banner .heading img {
        width: 10%;
    }

    .conference {
        padding: 1.5em 15em 0;
    }

}

@media only screen and (min-width:991px) {}

@media only screen and (min-width:700px) {
    .projects {
        /* background-color: rebeccapurple; */
    }

    .profile h5 {
        font-size: 1rem;
    }

    .profile h6 {
        font-size: 1rem;
    }

    header .containers {
        padding: 2em 2em 0em;
    }

    nav {
        position: unset;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0%;
        margin-left: 0;
        overflow: visible;
        width: auto;
        background: none;
        transition: 0.5s ease;
        color: black;
        z-index: 1;
    }

    nav ul {
        display: none;
    }

    .sep {
        display: none;
    }

    .socials h4 {
        display: none;
    }

    .unshow {
        display: none;
    }

    nav .profile-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: var(--blue);
        padding: 0;
    }

    nav .profile-side img {
        width: 5%;
        border-radius: 50%;
    }

    nav .profile-side h2 {
        color: var(--white);
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .info {
        display: none;
    }

    .head-icons {
        margin-top: 3em;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .head-icons a p {
        border: none;
        font-size: 1.2rem;
        color: var(--gainsboro);
    }

    .head-icons a {
        text-decoration: none;
    }

    .head-icons a.actives {
        border-bottom: 5px solid var(--white);
    }

    .socials {
        margin-top: 1.5em;
        display: flex;
        justify-content: space-between;
    }

    .social-icon-s {
        display: inline;
    }

    .social-icon-s a button i {
        border: none;
        color: var(--black);
    }

    .social-icon-s a i {
        border: 2px solid var(--white);
        color: var(--white);
        border-radius: 50%;
        padding: 0.5em;
        font-size: 1rem;
    }

    .social-icon-s button {
        background-color: var(--white);
        border: none;
        padding: 0.5em 1em;
        border-radius: 25px;
        color: var(--black);
    }

    .socials .head {
        margin-top: 0em;
        display: flex;
        flex-wrap: wrap;
        justify-content: unset;
        gap: 35px;
    }

    .socials a {
        text-decoration: none;
    }

    .socials a i {
        font-size: 1.5rem;
        color: var(--white);
    }

    .bars {
        display: flex;
        justify-content: space-between;
    }

    .hide {
        display: flex;
    }

    .hide-2 {
        display: none;
    }

}